flows.json
[
    {
        "id": "d1d0a681c4a34e18",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ee178c23b7f574cb",
        "type": "watson-speech-to-text",
        "z": "d1d0a681c4a34e18",
        "name": "",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "BroadbandModel",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "7qtoJdcTErGn7i5LIEKed8ElOOAkfZYRSGKK-ir6pEf7",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/b6d3d9a0-a447-4c5f-8bd2-69ffec095795",
        "x": 380,
        "y": 160,
        "wires": [
            [
                "648a6d2e14cf3d1b"
            ]
        ]
    },
    {
        "id": "4f191aac222b9560",
        "type": "telegram receiver",
        "z": "d1d0a681c4a34e18",
        "name": "",
        "bot": "381f7b9054882f95",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 90,
        "y": 340,
        "wires": [
            [
                "ef9cbe40af11d7ee"
            ],
            []
        ]
    },
    {
        "id": "d24951d631b35b58",
        "type": "telegram sender",
        "z": "d1d0a681c4a34e18",
        "name": "",
        "bot": "381f7b9054882f95",
        "haserroroutput": false,
        "outputs": 1,
        "x": 750,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "33b72ceb21f819df",
        "type": "debug",
        "z": "d1d0a681c4a34e18",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 520,
        "wires": []
    },
    {
        "id": "ef9cbe40af11d7ee",
        "type": "function",
        "z": "d1d0a681c4a34e18",
        "name": "Proc Entrada Audio",
        "func": "msg.params = {\n    \"session_id\" : 123\n\n};\nmsg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.weblink;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 180,
        "wires": [
            [
                "ee178c23b7f574cb"
            ]
        ]
    },
    {
        "id": "648a6d2e14cf3d1b",
        "type": "watson-assistant-v2",
        "z": "d1d0a681c4a34e18",
        "name": "",
        "service-endpoint": "https://api.us-south.assistant.watson.cloud.ibm.com/instances/c432413a-a6d5-4eff-b301-b28d0e0c5490",
        "assistant_id": "dfcd7faf-7688-472d-a8a5-a6aa19e87a17",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 370,
        "y": 360,
        "wires": [
            [
                "dc5f4d1eb65829fa"
            ]
        ]
    },
    {
        "id": "dc5f4d1eb65829fa",
        "type": "function",
        "z": "d1d0a681c4a34e18",
        "name": "Proc Saida Watson",
        "func": "msg.payload = {\n    chatId : msg.chatId,\n    type: \"message\",\n    content: msg.payload.output.generic[0].text\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 300,
        "wires": [
            [
                "d24951d631b35b58"
            ]
        ]
    },
    {
        "id": "381f7b9054882f95",
        "type": "telegram bot",
        "botname": "health_tech1_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    }
]